.fc-daygrid-day-number {
  font-size: 28px;
  font-weight: 600;
  color: #00befe;
}

.fc-col-header-cell-cushion {
  font-size: 15px;
  font-weight: 600;
}

.fc-event {
  min-height: 40px;
  touch-action: manipulation; /* menghindari delay klik */
}
.fc-daygrid-day {
  cursor: pointer;
}
